.clients{
  max-width: 1200px;
  margin: 0 auto;
  &__block-title{
    padding-top: 70px;
    text-align: center;
  }
  &__clients-list{
  }
}

.clients-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 0 20px;
  &__item{
    list-style-type: none;
    margin: 25px;
    max-width: 320px;
  }
}

.item{
  background: #ffffff;
  box-sizing: border-box;
  text-align: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  &__picture{
    padding: 50px 30px 0;
    max-width: 100%;
  }
  &__description{
    padding: 10px 70px 50px;
    color: @gray-2;
    font-family: @Arial;
    font-size: 18px;
    line-height: 1.2;
    flex-grow: 1;
  }
  &__text-top{
    padding: 35px 30px 0;
    font-size: 16px;
  }
  &__text-bottom{
    padding: 15px 90px 25px;
    border-top: 1px dashed #999999;
    p {
      font-size: 14px;
    }
  }
}