.clients{
  max-width: 1200px;
  margin: 0 auto;
  &__block-title{
    padding: 70px 20px 0;
    text-align: center;
  }
  &__clients-list{
  }
}

.clients-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 0 20px;
  &__item{
    list-style-type: none;
    margin: 25px;
    max-width: 320px;
  }
}

.item{
  background: #ffffff;
  box-sizing: border-box;
  text-align: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  &__picture{
    padding-top: 50px;
    max-width: 100%;
  }
  &__description{
    padding: 10px 30px 50px;
    color: @gray-2;
    font-family: @Arial;
    line-height: 1.5;
    flex-grow: 1;
  }
  &__text-top{
    padding: 35px 30px 0;
    font-size: 16px;
    a{
      .link(@link-color,@link-border,@hover-color,@hover-border)
    }
  }
  &__text-bottom{
    padding: 15px 90px 25px;
    border-top: 1px dashed #999999;
    p {
      font-size: 14px;
    }
  }
}

.green{
  color: #26a332;
  font-weight: bold;
}

.y{
  &-red{
    color: #cc0000;
  }
  &-black{
    color: #333333;
  }
}

.g{
  &-blue{
    color: #4285f4;
  }
  &-red{
    color: #ea4335;
  }
  &-yellow{
    color: #fbbc05;
  }
  &-green{
    color: #34a853;
  }
}