.where{
  padding-top: 80px;
  padding-bottom: 163px;
}

.table{
  display: flex;
  justify-content: space-between;
  padding: 0 55px 0 40px;
}

.column{
  &--results{
    position: relative;
    background-color: rgba(195, 176, 250, 0.3);
    box-sizing: border-box;
    max-width: 320px;
    min-width: 250px;
    width: 100%;
    padding: 20px 30px 0;
    margin-top: 10px;
    &:after {
      position: absolute;
      bottom: -167px;
      right: -52px;
      background-color: transparent;
      content: url('/img/result.png');
    }
    .column__title {
      font-family: RotondaBold;
      color: #333333;
      font-size: 32px;
    }
  }
  &--where{
    padding: 0 30px 0 0;
  }
  &__block-title{
    padding-bottom: 60px;
  }
}
.column-result{
  &:nth-child(2) {
    margin-top: 45px;
  }
  margin-top: 55px;
  &__icon{}
  &__description{
    margin-top: 10px;
    font-size:14px;
    font-family: @Arial;
    line-height: 1.5em;
    color: @gray-2;
  }
}
