@media screen and (max-width: 1080px) {
  .all-inclusive{
    &__block-title{
      padding-left: 40px;
    }
    &__advantages-list{
      margin-left: 40px;
    }
    &__interview{
      background-position: center top;
      padding-right: 0;
    }
  }
}
@media screen  and (max-width: 768px){
  .advantages-list{
    flex-wrap: wrap;
    &__advantages-item{
    }
  }
  .advantages-item{
    width: 50%;
    box-sizing: border-box;
    margin-right: 0;
    &__title{
      &--blue{
      }
    }
    &__description{
    }
  }
}
@media screen and (max-width: 500px) {
  .advantages-item{
    width: 100%;
    box-sizing: border-box;
    margin-right: 0;
    &__title{
      &--blue{
      }
    }
    &__description{
    }
  }
}