@media screen and (max-width: 1080px){
  .clients{
    &__block-title{
    }
    &__clients-list{
    }
  }
  .clients-list{
    &__item{
      margin-bottom: 20px;
      width: 100%;
    }
  }
  .item{
    &__picture{
    }
    &__description{
    }
  }
}
@media screen and (max-width: 768px) {
  .clients-list{
    &__item{
      width: 100%;
    }
  }
  .item{
  }
}
@media screen and (max-width: 420px) {
  .clients-list{
    &__item{
      margin: 25px 0;
    }
  }
}
@media screen and (max-width: 360px) {
  .item{
    &__description{
      padding: 10px 50px 50px;
    }
    &__text-top{
      padding: 35px 20px 0;
    }
    &__text-bottom{
      padding: 15px 70px 25px;
    }
  }
}