@media screen and (max-width: 1145px) {
  .offers{
    &__offer-case{
      margin: 0;
    }
  }
}
@media screen and (max-width: 880px) {
  .offers{
    &__offer-case{
      flex-direction: column;
    }
  }
  .offer-case{
    max-width: 100%;
    &:not(.offer-case--where):nth-child(n){
      margin: 0;
    }
  }
}
@media screen and (max-width: 768px) {
  .header{
    margin: 0 20px;
  }
  .about{
    margin: 40px auto;
  }
  .about{
    &__title{
      font-size: 38px;
    }
  }
}
@media screen and (max-width: 500px){
  .header{
    margin: 0 15px;
  }
  .information-row{
    &__discuss{
      font-size: 16px;
    }
    &__phone{
      font-size: 16px;
    }
  }
  .about{
    &__title{
      font-size: 28px;
    }
    &__description{
      font-size: 16px;
    }
  }
  .offer-case{
    &__title{
      font-size: 24px;
    }
  }
}
@media screen and (max-width: 420px){
  .about{
    padding: 0 20px;
  }
  .offer-case{
    &:not(.offer-case--where){
      padding: 30px 20px 10px;
    }
  }
}
