@media screen and (max-width: 1080px) {
  .column{
    &--printer{
      min-width: 374px;
    }
  }
}
@media screen and (max-width: 768px) {
  .table{
    flex-direction: column;
    padding: 0 40px;
  }
  .quick-start{
    &__referat{
      flex-direction: column-reverse;
    }
  }
  .column-result{
    display: flex;
    align-items: flex-start;
    &:nth-child(2) {
      margin-top: 45px;
    }
    margin-top: 55px;
    &__icon{}
    &__description{
      margin: 0 0 0 30px;
    }
  }

  .column{
    &--results:after{
      content: '';
    }
    &--results {
      padding-bottom: 60px;
      max-width: none;
    }
  }
}
@media screen and (max-width: 500px) {
  .column-result{
    flex-direction: column;
    &__description{
      margin: 15px 0 0 0;
    }
  }
}
@media screen and (max-width: 420px) {
  .table{
    padding: 0 20px;
  }
}