@media screen and (max-width: 1080px) {
  .wrap-1200{
    &__quick-start{
      max-width: 920px;
      padding: 0 40px;
      box-sizing: border-box;
    }
  }
}
@media screen and (max-width:678px ){
  .wrap-1200{
    &__in-cost{
      background: url(../img/in_cost_b_2.png) no-repeat center 116px,
      url(../img/border.png) repeat-x center bottom,
      url(../img/in_cost_b_1.png) no-repeat center bottom;
    }
  }
}
@media screen and (max-width: 500px) {
  .block-title{
    font-size: 52px;
  }
}